[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/blobstream-contracts"]
	path = lib/blobstream-contracts
	url = https://github.com/Ferret-san/quantum-gravity-bridge.git
	branch = 0.8.19
